/* Menu */
a{
	color: black;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;

}
a:hover{
	color: #fff;
	text-decoration: none;
}

#navbar{
	display: grid;
	min-height: 100px;
	grid-auto-flow: column;
	background-color: #ed9aa0;
	grid-gap: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
#logo{
	display: grid;
	justify-content: start;
	align-content: center;
	color: #fff;
	font-family: 'Patua One', cursive;
	text-transform: capitalize;
	font-size: 20px;
}
#links{
	display: grid;
	justify-content: end;
	align-content: center;
	grid-auto-flow: column;
	grid-gap: 20px;
}
/* Seccion bienvenida */
h4{
	color: #ed9aa0;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	text-align: center;
	font-size: 40px;
}
.bienvenida p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 16px;
}
#video{
	width: 100%;
	height: 60vh;
}
/* Seccion contenedor Servicios */
.contenedorServicios{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.columnasTres{
	width: 33%;
	float: left;
	padding: 20px 20px;
	box-sizing: border-box;
}
.columnasTres img{
	width: 100%;
}
h5{
	color: #fcaebb;
	font-size: 30px;
	font-family: 'Patua One', cursive;
	text-transform: capitalize;
	text-align: center;
}
.columnasTres p{
	color:  #fcaebb;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}
.w-100{
	height: 500px;
	object-fit: cover;
} 
/* Carousel */
.carousel-inner img {
	width: 100%;
    height: 100%;
}
    
/* Footer */
.footerInfo{
	width: 100vw;
	display: block;
	overflow: hidden;
	padding: 70px 0;
	box-sizing: border-box;
	background-color: #ed9aa0;
}

.contenedor{
	display: block;
	margin: 0 auto;
	width: 1100px;
	height: 100%; 
}
.contenedor p{
	font-family: Roboto;
	font-size: 20px;
	color: white;
}

.logoContenedor{
	width: 25%;
	float: left;
	height: 100%;
	display: block;
}
.infoColumnas{
	width: calc(21% - 20px);
	margin-right: 10px;
	float: left;
	height: 100%;
}
.infoColumnas h5{
	font-size: 22px;
	font-family: Roboto;
	display: flex;
	margin-bottom: 20px;
	color: black;
}
.tipografia{
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	color: black;
	display: block;
	font-weight: 200%;
	width: 100%;
	margin-bottom: 5px;
}
.contactoInfo{
	width: 100vw;
	display: block;
	overflow: hidden;
	padding: 70px 0;
	box-sizing: border-box;
}
.contenedorInfo{
	float: left;
	height: 100%;
	display: block;
}
.infodelCliente{
	padding: 30px;
	margin-right: 10px;
}
/* Grilla con Hover */
h2{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;


}
.portfolio-item {
	display: inline-block;
	position: relative;
}
.portfolio-item-content {
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}

.portfolio-item-content:hover {
	opacity: 1;
	background: #ed9aa0;
}
/* Empiezan estilos de Sobre mi html grilla */
.titulo{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

.sobreMi-grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 15px 15px;
	text-align: center;
	grid-template-areas:
	"fraseUno fraseDos fraseTres";
}

.fraseUno {
	grid-area: fraseUno;
	background-color: #fdc5bc;
	padding: 40px;
	margin: 3%;
	min-height: 180px;
	font-size: 20px;

}
.fraseDos {
	grid-area: fraseDos;
	background-color: #f8c86c;
	padding: 40px;
	margin: 3%;
	min-height: 180px;
	font-size: 20px;
}

.fraseTres {
	grid-area: fraseTres;
	background-color: #e0bbce;
	padding: 40px;
	margin: 3%;
	min-height: 180px;
	font-size: 20px;
}


/* Empiezan estilos de Servicios html grilla */

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

.servicios-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 15px 15px;
	text-align: center;
	grid-template-areas:
	"textoUno textoDos textoTres";
}

.textoUno {
	grid-area: textoUno;
	background-color: #fdc5bc;
	padding: 40px;
	margin: 3%;
	min-height: 180px;
	font-size: 20px;

}
.textoDos {
	grid-area: textoDos;
	background-color: #f8c86c;
	padding: 40px;
	margin: 3%;
	min-height: 180px;
	font-size: 20px;
}

.textoTres {
	grid-area: textoTres;
	background-color: #e0bbce;
	padding: 40px;
	margin: 3%;
	min-height: 180px;
	font-size: 20px;
}

.grid-container-gifs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr 1.5fr;
  gap: 20px 20px;
  grid-template-areas: "gifUno gifDos gifTres" "gifCuatro gifCinco gifSeis" ". . .";
}

.gifUno { 
	grid-area: gifUno;
	background-color: #f8c86c;
	padding: 20px;
	margin: 3%;
	min-height: 160px;
}

.gifDos { 
	grid-area: gifDos;
	background-color: #f8c86c;
	padding: 20px;
	margin: 3%;
	min-height: 180px;
}

.gifTres { 
	grid-area: gifTres;
	background-color: #f8c86c;
	padding: 20px;
	margin: 3%;
	min-height: 180px;
}

.gifCuatro { 
	grid-area: gifCuatro;
	background-color: #f8c86c;
	padding: 20px;
	margin: 3%;
	min-height: 180px;
}

.gifCinco { 
	grid-area: gifCinco;
	background-color: #f8c86c;
	padding: 20px;
	margin: 3%;
	min-height: 180px;
 }

.gifSeis { 
	grid-area: gifSeis;
	background-color: #f8c86c; 
	padding: 20px;
	margin: 3%;
	min-height: 180px;
}


/* Slider Testimonial */

.testimonial-section {
	overflow: hidden;
	text-align: center;
	padding: 60px;
}
.testimonial-section h4{
	text-transform: uppercase;
	margin-bottom: 60px;
	color: #ed9aa0;
	font-size: 40px;
}
.border {
	display: block;
	margin:auto;
	width: 160px;
	height: 3px;
	background-color:  #ed9aa0;
	margin-bottom: 40px;
}

.ps {
	margin-bottom: 40px;
}
.ps a {
	display: inline-block;
	margin:0 30px;
	width: 160px;
	width: 160px;
	overflow: hidden;
	border-radius: 50%;
}
.ps a img {
	width: 100%;
	filter: grayscale(100%);
	transition: 0.3s all;
}
.ps a:hover > img{
	filter: none;
}
.section-opinion {
	width: 600px;
	margin: auto;
	font-size: 20px;
	text-align: justify;
	height: 0;
	overflow: hidden;
}
.section-opinion:target {
	height: auto;
}
.name {
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
}


@media only screen and (max-width: 320px)
