/* Seccion bienvenida */
h4 {
    color: #ed9aa0;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
}

.bienvenida p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
}

#video {
    width: 100%;
    height: 60vh;
}

/* Seccion contenedor Servicios */
.contenedorServicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.columnasTres {
    width: 33%;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
}

.columnasTres img {
    width: 100%;
}

h5 {
    color: #fcaebb;
    font-size: 30px;
    font-family: 'Patua One', cursive;
    text-transform: capitalize;
    text-align: center;
}

.columnasTres p {
    color: #fcaebb;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

.w-100 {
    height: 500px;
    object-fit: cover;
}

/* Carousel */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* Grilla con Hover */
h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;


}

.portfolio-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.portfolio-item-content {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.portfolio-item-content:hover {
    opacity: 1;
    background: #ed9aa0;
}



